@use '../utils.scss' as *;

.custom-container {
  display: flex;
  padding: 0;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -0.5px;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
  }

  .connect-container {
    display: flex;
    flex: 1;
    padding: 10px 0;

    &.gpfocus {
      background-color: rgba(255, 255, 255, 0.15);
    }

    .device-icon {
      display: flex;
      width: 15%;

      svg {
        width: 24px;
      }
    }

    .device-info {
      display: flex;
      flex-direction: column;

      &.connected {
        color: $color_light_gray;
      }

      &.disconnected {
        color: $color_dark_gray;
      }

      .device-name {
        width: 100%;
      }

      .device-status {
        width: 100%;
      }
    }
  }
}
