@use './components/device.scss';
@use './utils.scss';

#QuickAccess-Menu {
  > div[class^='quickaccessmenu_Menu_'].Panel.Focusable {
    > div[class^='quickaccessmenu_PanelOuterNav_'].Panel.Focusable {
      > div {
        > div[class^='quickaccessmenu_ContentTransition_'][class*='quickaccessmenu_ActiveTab_'] {
          > div {
            > div[class^='quickaccessmenu_Title_'] {
              > div {
                flex-grow: 1 !important;
              }
            }
          }
        }
      }
    }
  }
}

#bluetooth {
  > div {
    margin-bottom: 0;
  }

  .no-devices {
    padding: 10px 0;
    color: utils.$color_dark_gray;
  }

  .refresh-icon.spinning {
    animation: bt-spin 0.8s linear infinite;
    transform-origin: center;
  }
}
